<!-- comments.component.html -->
<div>
    <form (submit)="addComment()">
      <input 
        [(ngModel)]="newComment" 
        placeholder="Add a comment" 
        #ctrl="ngModel" 
        [ngModelOptions]="{standalone: true}"
        (keyup.enter)="addComment()"
        (keyup)="handleKeyup()"
        required>
      <button type="submit" [disabled]="newComment.trim() === ''">Add</button>
      <app-mention *ngIf="showMention" [filter]="filter" (userSelected)="handleUserSelected($event)"></app-mention>
    </form>
  
    <h2>Comments</h2>
    <div *ngFor="let comment of comments; index as i">
        <p>
            <span class="comment-text" [innerHTML]="this.commentsService.getFormattedComment(comment)">{{ comment.text }}</span>
            <span class="comment-user">{{ comment.user }}</span>
            <span class="comment-timestamp">{{ comment.timestamp | date:'short' }}</span>
        </p>
    </div>
  </div>